/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


*:focus{
    outline: none;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
}
.header-wrapper ul{
    display: flex;
}
.header-wrapper ul li{
    list-style-type: none;
    padding: 5px;
}
.header-wrapper ul li a{
    text-decoration: none;
}
.header-wrapper ul li button{
    background-color: transparent;
    border: none;
    color: blueviolet;
    font-size: 18px;
    cursor: pointer;
}
.footer-wrapper{
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
    background-color: #fff;
}
.input-wrapper {
    margin: 10px;
}
.input-field {
    width: 200px;
    height: 30px;
}
.button {
    width: 200px;
    height: 30px;
}
.container {
    text-align: center;
}
.button-link {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    color: skyblue;
    margin: 10px;
}
.input-error{
    position: absolute;
    padding: 8px;
    color: red;
    font-size: 13px;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
table td button {
    margin: 5px;
}
table img{
    width: 80px;
}
table button {
    margin: 5px;
}
.main-page-banner, .restaurant-page-banner {
    background-image: url('https://a.storyblok.com/f/88809/1150x450/30a9c4f9a6/igevia_header_fastfood01_450.jpg');
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    padding: 30px;
    height: 230px;
    color: #fff;
    text-align: center;
}
.main-page-banner .input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.main-page-banner .select-input, .main-page-banner .search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 350px;
    color: #000;
}
.main-page-banner .select-input:focus, .search-input:focus {
    outline: none;
    border-color: #007bff;
}
.location-list{
    color: #000;
    list-style-type: none;
    text-align: left;
    position: absolute;
    background-color: #fff;
    padding: 0px;
    margin: 0px;
    margin-left: -5px;
    border: 1px solid #ccc;
}
.location-list li {
    width: 180px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.restaurant-list-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 50px;
}
.restaurant-wrapper {
    width: 45%;
    background-color: orange;
    margin: 10px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
}
.restaurant-wrapper .heading-wrapper, .restaurant-wrapper .address-wrapper{
    padding-left: 15px;
    display: flex;
    justify-content: flex-start;
}
.restaurant-wrapper h5 {
    margin-left: 15px;
}
.restaurant-wrapper .address {
    margin-left: 5px;
}
.restaurant-page-banner h1 {
    font-size: 60px;
}

.detail-wrapper {
    display: flex;
    background-color: orange;
}
.detail-wrapper h4 {
    width: 50%;
}
.food-item-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}
.food-item-wrapper .list-item {
    padding: 20px;
    color: orange;
    font-weight: bold;
    border-bottom: 1px solid orange;
    display: flex;
    text-transform: capitalize;
}
.food-item-wrapper .list-item button {
    color: #fff;
    border: none;
    background-color: orange;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}
.food-item-wrapper .list-item img {
    width: 100px;
    padding-right: 20px;
}
.food-item-wrapper .list-item .description {
    font-weight: lighter;
}
.list-item-block-1 {
    width: 20%;
}
.list-item-block-2 {
    width: 80%;
}
.list-item-block-3 {
    width: 20%;
}
.total-wrapper {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid orange;
    padding-bottom: 50px;
}
.total-wrapper .row {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    color: orange;
    font-size: 20px;
    font-weight: bold;
}
.total-wrapper .block-1 {
    width: 70%;
}
.total-wrapper .block-2 {
    width: 30%;
}
.total-wrapper .block-2 button{
    padding: 10px 25px;
    border: navajowhite;
    background-color: orange;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

/* Delivery Partner */
/* .auth-container {
    display: flex;
}
.login-wrapper, .signup-wrapper {
    height: 400px;
    border: 1px solid #ccc;
    margin: 50px;
    padding: 20px;
    width: 50%;
    text-align: center;
} */